@import "tailwindcss";

body{
    color: rgb(245, 247, 248);
}

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

/* .scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */